@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
*{
	padding: 0;
	margin: 0;
}
header{
	background-color: blue;
	font-family: 'Lato', sans-serif;
}
nav{
	display: flex;
}
.logo{
	
	display: flex;;
	align-items: center;
	margin: 0 20px 0 20px;
}
.logo img{
	width: 100px;
	height: auto;
	border-radius: 8px;
}
nav ul{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 58px;
}
nav ul li{
	list-style: none;
	padding: 0 23px;
	border: solid;
	border-color: black;
	margin: 5px;
}
nav ul li a{
	color: white;
	text-decoration: none;
}
nav ul li a:hover{
	font-weight: bold;
	color: red;
}
.search{
	display: flex;
	align-items: center;
	border-color: black;
	border-width: 10px;
	height: 58px;
	margin-right: 100px;
}
.search input{
	padding-left: 10px;
	width: 493px;
	height: 23px;
	border-radius: 5px;
	margin: 0 10px 0 56px;
	border: 2px solid black;
}
#button{
	width: 48px;
	height: 30px;
	border-radius: 10px;
	margin: 0 10px;
}
.container{
	min-height: 86vh;
}
.slidder{
	display: flex;
	justify-content: flex-start;
	width: 91vw;
	margin: 8px auto;
}
.card{
	max-width: 311vh;
	margin:0 130px;
}
.card h2{
	margin-top: 10px;
	margin-bottom: 10px;
}
.card-item{
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	margin: 0 10px;
}
footer{
	height: 4vh;
	background-color: blue;
	color: white;
	font-family: 'Lato', sans-serif;
	border: solid;
	border-color: red;
	border-style: dotted;
}